.headerSearchBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px;
  background: rgba(31, 31, 31, 0.4);
  border: 1px solid #CA35F7;
  box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 53px;

}

.headerSearchBar h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  color: #AEAEB2;
  display: flex;
  align-items: center;
}

.headerSearchBar h5 {
  /* Mobile/H4 */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  text-align: center;

  /* Primary/White */

  color: #FFFFFF;

  text-shadow: 0px 40px 40px rgba(0, 0, 0, 0.12);
}

.headerLeft,
.headerRight {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  align-items: center;
}

.searchField {
  /* Search field */


  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 24px;
  gap: 24px;

  width: 460px;
  height: 48px;

  background: rgba(31, 31, 31, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 80px;

}

.searchField input {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  border: none;
  color: rgba(255, 255, 255, 0.2);
  background-color: transparent;
}


.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  background: #E10856;
  box-shadow: 0px 16px 16px 4px rgba(0, 0, 0, 0.12);
  border-radius: 40px;
  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}