.searchTitle {
    margin: 2rem 0;
}

.searchTitle h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 64px;
    /* identical to box height, or 114% */

    display: flex;
    align-items: center;

    /* Secondary/Dust */

    color: #C4C4C4;

}